<a href="https://colab.research.google.com/github/emmanguyen0602/Scrape-Table-from-Website-using-Python/blob/main/Guide_to_Scrape_Data_from_a_Website_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#STEP 1. INSTALLING LIBRARIES
1. BeautifulSoup4
2. Requests
3. Pandas
4. lxml

#STEP 2. IMPORT LIBRARIES

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#STEP 3. SELECTING PAGE

#STEP 4. REQUEST PERMISSION

In [2]:
# Define URL
url = "https://webscraper.io/test-sites/e-commerce/allinone/computers/laptops"
# Ask hosting server to fetch url
pages = requests.get(url)
soup = BeautifulSoup(pages.text, 'lxml')

#STEP 5. INSPECT TABLE ELEMENT

#STEP 6. ACCESSING TAGS

In [3]:
# Access h1 tag
soup.h1

In [ ]:
# Access header tag
soup.header
# Access div tag
soup.div

In [5]:
# Access ‘a’ tag in <header>
a_start = soup.header.a

# Access only the attributes using attrs
a_start.attrs

{'data-toggle': 'collapse-side',
 'data-target': '.side-collapse',
 'data-target-2': '.side-collapse-container'}

#STEP 7. ACCESSING SPECIFIC ATTRIBUTES OF TAGS

In [6]:
# Searching specific attributes of tags
soup.find("h4", class_= "pull-right price") #the price is located on tag h4 and class pull-right price

$295.99 is the attribute (string) of the h4

In [9]:
# Using find_all
soup.find_all("h4", class_= "pull-right price")[2:5] #we want to see only index 3 to 5.

[<h4 class="pull-right price">$299.00</h4>,
 <h4 class="pull-right price">$306.99</h4>,
 <h4 class="pull-right price">$321.94</h4>]

#STEP 8. USING FILTER

In [ ]:
# Using filter to find multiple tags
soup.find_all(['h4', 'a', 'p'])
soup.find_all(['header', 'div'])
soup.find_all(id = True) # class and id are special attribute so it can be written like this
soup.find_all(class_= True)

Class and id are special attributes so you can write class_ and id instead of ‘class’ or ‘id’

In [12]:
#Filter by name/price/review/description
name = soup.find_all("a", class_="title")
price = soup.find_all("h4", class_="pull-right price")
reviews = soup.find_all("p", class_="pull-right")
description = soup.find_all("p", class_="description")

In [14]:
name[:10]

[<a class="title" href="/test-sites/e-commerce/allinone/product/545" title="Asus VivoBook X441NA-GA190">Asus VivoBook X4...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/546" title="Prestigio SmartBook 133S Dark Grey">Prestigio SmartB...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/547" title="Prestigio SmartBook 133S Gold">Prestigio SmartB...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/517" title="Aspire E1-510">Aspire E1-510</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/548" title="Lenovo V110-15IAP">Lenovo V110-15IA...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/549" title="Lenovo V110-15IAP">Lenovo V110-15IA...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/550" title="Hewlett Packard 250 G6 Dark Ash Silver">Hewlett Packard...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/551" title="Acer Aspire 3 A315-31 Black">Acer Aspire 3 A3...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/552" title="Acer Aspire A315-31-C33J">Acer Aspire A315...</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/553" title="Acer Aspire ES1-572 Black">Acer Aspire ES1-...</a>]

In [15]:
price[:10]

[<h4 class="pull-right price">$295.99</h4>,
 <h4 class="pull-right price">$299.00</h4>,
 <h4 class="pull-right price">$299.00</h4>,
 <h4 class="pull-right price">$306.99</h4>,
 <h4 class="pull-right price">$321.94</h4>,
 <h4 class="pull-right price">$356.49</h4>,
 <h4 class="pull-right price">$364.46</h4>,
 <h4 class="pull-right price">$372.70</h4>,
 <h4 class="pull-right price">$379.94</h4>,
 <h4 class="pull-right price">$379.95</h4>]

#STEP 9. CLEANING OUTPUT RESULTS FROM FILTER
- Use text function to clean the html format

Text can be used to filter strings from the HTML code however we need to define a new variable, for example:

In [19]:
# Try to call price
price1 = soup.find("h4", class_ = "pull-right price")
price1.text

'$295.99'

#STEP 10. CREATE A FOR LOOP TO MAKE STRING INTO LIST

In [20]:
# Create for loop to make string from find_all list
product_name_list = []
for i in name:
 name = i.text
 product_name_list.append(name)
price_list = []
for i in price:
 price = i.text
 price_list.append(price)
 
review_list = []
for i in reviews:
 rev = i.text
 review_list.append(rev)
 
description_list = []
for i in description:
 desc = i.text
 description_list.append(desc)

#STEP 11. CREATE A DATAFRAME FROM LIST

In [22]:
# Create dataframe
table=pd.DataFrame({"Product Name": product_name_list, "Price": price_list, "Review": review_list, "Description": description_list})
table

,Product Name,Price,Review,Description
0,Asus VivoBook X4...,$295.99,14 reviews,"Asus VivoBook X441NA-GA190 Chocolate Black, 14..."
1,Prestigio SmartB...,$299.00,8 reviews,"Prestigio SmartBook 133S Dark Grey, 13.3"" FHD ..."
2,Prestigio SmartB...,$299.00,12 reviews,"Prestigio SmartBook 133S Gold, 13.3"" FHD IPS, ..."
3,Aspire E1-510,$306.99,2 reviews,"15.6"", Pentium N3520 2.16GHz, 4GB, 500GB, Linux"
4,Lenovo V110-15IA...,$321.94,5 reviews,"Lenovo V110-15IAP, 15.6"" HD, Celeron N3350 1.1..."
...,...,...,...,...
112,Lenovo Legion Y7...,$1399.00,8 reviews,"Lenovo Legion Y720, 15.6"" FHD IPS, Core i7-770..."
113,Asus ROG Strix G...,$1399.00,10 reviews,"Asus ROG Strix GL702VM-GC146T, 17.3"" FHD, Core..."
114,Asus ROG Strix G...,$1769.00,7 reviews,"Asus ROG Strix GL702ZC-GC154T, 17.3"" FHD, Ryze..."
115,Asus ROG Strix G...,$1769.00,8 reviews,"Asus ROG Strix GL702ZC-GC209T, 17.3"" FHD IPS, ..."
116,Asus ROG Strix S...,$1799.00,8 reviews,"Asus ROG Strix SCAR Edition GL503VM-ED115T, 15..."