In [1]:
# Import the libraries.
import requests
from bs4 import BeautifulSoup
import pandas as pd
import csv

In [19]:
# Extract the HTML and create a BeautifulSoup object.
url = ('https://www.tripadvisor.in/Hotels-g28932-a_sort.popularity-Hawaii-Hotels.html')

user_agent = ({'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)\
               AppleWebKit/537.36 (KHTML, like Gecko) \
               Chrome/111.0.0.0 Safari/537.3',
               'Accept-Language': 'en-US, en;q=0.5'})

def get_page_contents(url):
    page = requests.get(url, headers = user_agent)
    return BeautifulSoup(page.text, 'html.parser')

soup = get_page_contents(url)

In [20]:
# Find and extract data elements.
hotels = []
for name in soup.findAll('div',{'class':'listing_title'}):
    hotels.append(name.text.strip())
ratings = []
for rating in soup.findAll('a',{'class':'ui_bubble_rating'}):
    ratings.append(rating['alt'])
reviews = []
for review in soup.findAll('a',{'class':'review_count'}):
    reviews.append(review.text.strip())
prices = []
for p in soup.findAll('div',{'class':'price-wrap'}):
    if p is 
    prices.append(p.text.replace('â‚«','').strip())

In [23]:
hotels = [i for n, i in enumerate(hotels) if i not in hotels[:n]]

In [21]:
len(hotels)

60

In [24]:
hotels

['1. Kalaekilohana',
 '2. Outrigger Waikiki Beachcomber Hotel',
 '3. Whalers Cove Oceanfront Resort',
 '4. Halekulani Hotel',
 '5. Kaimana Beach Hotel',
 '6. Aston Waikiki Beach Tower',
 '7. Trump International Hotel Waikiki',
 '8. Lotus Honolulu at Diamond Head',
 '9. Mauna Lani, Auberge Resorts Collection',
 '10. Prince Waikiki',
 '11. Napili Surf Beach Resort',
 '12. The Laylow, Autograph Collection',
 '13. Koloa Landing Resort at Poipu, Autograph Collection',
 '14. Hotel Wailea',
 '15. The Equus',
 '16. Hotel La Croix',
 '17. Halepuna Waikiki by Halekulani',
 '18. The Kahala Hotel & Resort',
 '19. Hilton Grand Vacations Club Hokulani Waikiki Honolulu',
 '20. Four Seasons Resort Maui at Wailea',
 '21. Montage Kapalua Bay',
 '22. Grand Hyatt Kauai Resort & Spa',
 '23. Outrigger Reef Waikiki Beach Resort',
 '24. Kauai Shores Hotel',
 '25. Four Seasons Resort Hualalai',
 '26. Vive Hotel Waikiki',
 '27. The Surfjack Hotel & Swim Club',
 '28. Embassy Suites by Hilton Waikiki Beach Walk',
 '29. Paniolo at the Equus',
 '30. Paia Inn']

In [26]:
len(ratings)

30

In [27]:
len(reviews)

30

In [29]:
len(prices)

27

In [30]:
# Create the dataframe.
hawaii = pd.DataFrame({'Hotel Names':hotels,'Ratings':ratings,'Number of Reviews':reviews})
hawaii.head(10)

,Hotel Names,Ratings,Number of Reviews
0,1. Kalaekilohana,5 of 5 bubbles,430 reviews
1,2. Outrigger Waikiki Beachcomber Hotel,4.5 of 5 bubbles,662 reviews
2,3. Whalers Cove Oceanfront Resort,5 of 5 bubbles,512 reviews
3,4. Halekulani Hotel,4.5 of 5 bubbles,"3,307 reviews"
4,5. Kaimana Beach Hotel,5 of 5 bubbles,558 reviews
5,6. Aston Waikiki Beach Tower,4.5 of 5 bubbles,"1,458 reviews"
6,7. Trump International Hotel Waikiki,4.5 of 5 bubbles,"4,025 reviews"
7,8. Lotus Honolulu at Diamond Head,4.5 of 5 bubbles,"1,680 reviews"
8,"9. Mauna Lani, Auberge Resorts Collection",5 of 5 bubbles,583 reviews
9,10. Prince Waikiki,5 of 5 bubbles,"2,903 reviews"